<div class="sticky-top">
  <div class="bg-top-header ">
   
        <div >
          
          <p style="color:white;margin:0px;text-align: center;"> DOUBT FORUM</p>
        
        </div>
        
      
  
  </div>

</div>



<!-- 
<nav class="navbar navbar-expand-sm navbar-light bg-light "style="z-index:1000;" >

   <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link "  routerLink="/home" ><b>HOME</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/OperatingSystemQuestions',1]" ><b>OPERATING SYSTEM</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/CPlusplusQuestions',2]" ><b>C++</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  routerLink="/DataStructureQuestions" ><b>DATA STRUCTURE</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/DatabaseTechnologyQuestions" ><b> DATABASE TECHNOLOGY</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/CoreJavaQuestions" ><b>CORE JAVA</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/AdvancedWebProgrammingQuestions" ><b>AWP</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/WPTQuestions" ><b>MEAN STACK</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  routerLink="/AdvanceJavaQuestions" ><b>ADVANCE JAVA</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/DotNetQuestions" ><b> DOT NET</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/SoftwareEngineeringQuestions" ><b>ASDM</b></a>
    </li>
    
  </ul> 

  </nav>  -->
  
  

<!-- <nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="collaspe navbar-collaspe">
  <ul class="nav nav-tabs">
   <li routerLinkActive="active current" >
     <a   routerLink="/home" ><b>HOME</b></a>
   </li>
   <li routerLinkActive="active current" >
    <a   [routerLink]="['/CPlusplusQuestions',2]" ><b>C++</b></a>
  </li>
  <li routerLinkActive="active current" >
    <a   [routerLink]="['/OperatingSystemQuestions',1]" ><b>OPERATING SYSTEM</b></a>
  </li>
   <li class="nav-item">
     <a class="nav-link" [routerLink]="['/OperatingSystemQuestions',1]" ><b>OPERATING SYSTEM</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" [routerLink]="['/CPlusplusQuestions',2]" ><b>C++</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link "  routerLink="/DataStructureQuestions" ><b>DATA STRUCTURE</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/DatabaseTechnologyQuestions" ><b> DATABASE TECHNOLOGY</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/CoreJavaQuestions" ><b>CORE JAVA</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/AdvancedWebProgrammingQuestions" ><b>AWP</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/WPTQuestions" ><b>MEAN STACK</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link "  routerLink="/AdvanceJavaQuestions" ><b>ADVANCE JAVA</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/DotNetQuestions" ><b> DOT NET</b></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/SoftwareEngineeringQuestions" ><b>ASDM</b></a>
   </li>
   
 </ul> 
</div>
</div>
 </nav> 
  -->





  