<div class="sidebar"style="margin-right:20px;">
 
 
  <br/><br/><br/><br/>
  
  
    <mat-chip-list  class="mat-chip-list-stacked" aria-label="Color selection" >
    
      
    
    <mat-chip  routerLink="/home" >
      HOME
    </mat-chip>
    <br/>
    <mat-chip  [routerLink]="['/OperatingSystemQuestions',1]">
      OPERATING SYSTEM
    </mat-chip>
    
    <mat-chip  [routerLink]="['/CPlusplusQuestions',2]">
      C++
    </mat-chip>

    <mat-chip  [routerLink]="['/DataStructureQuestions',3]">
      DATA STRUCTUE
    </mat-chip>

    <mat-chip  [routerLink]="['/DatabaseTechnologyQuestions',4]">
      DATABASE TECHNOLOGY
    </mat-chip>

    <mat-chip  [routerLink]="['/AdvancedWebProgrammingQuestions',5]">
      AWP
    </mat-chip>
    
    <mat-chip  [routerLink]="['/MeanStackQuestions',6]">
      MEAN STACK
     </mat-chip>

    <mat-chip  [routerLink]="['/CoreJavaQuestions',7]">
      CORE JAVA
    </mat-chip>

    <mat-chip  [routerLink]="['/AdvanceJavaQuestions',8]">
      ADVANCE JAVA
    </mat-chip>
    
    <mat-chip  [routerLink]="['/SoftwareEngineeringQuestions',9]">
      SOFTWARE ENGINEERING
      </mat-chip>

    <mat-chip  [routerLink]="['/DotNetQuestions',10]">
      DOT NET
    </mat-chip>



  </mat-chip-list>
  
  
  
  
  
  
  
  
  
  </div>
  